@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script";
  margin: 0;
  min-height: 100vh; /* 웹 스크린의 실제 현재 크기의 100%를 최소 높이로 갖겠다 */
}

#root {
  background-color: white;
  box-shadow: rgb(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

/* MyButton */

.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #8b8b8b;
  padding: 10px 20px 10px 20px;
  font-size: 16px;

  white-space: nowrap;
  font-family: "Nanum pen Script";

  transition-duration: 0.2s;
}

.MyButton:active {
  box-shadow: none;
}

.MyButton_positive {
  color: white;
  background-color: #64c964;
}

.MyButton_negative {
  color: white;
  background-color: #fd565f;
}

.MyButton_default {
  color: black;
  background-color: #ececec;
}

/* MyHeader */

header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
  justify-content: center;
}

header .head_text {
  width: 50%;
  font-size: 25px;
}

header .head_btn_left {
  width: 25%;
}

header .head_btn_right {
  width: 25%;
}

header button {
  font-family: "Nanum Pen Script";
}

/* DiaryList */

.DiaryList .menu_wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.menu_wrapper .right_col {
  flex-grow: 1;
}

.menu_wrapper .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  padding: 9px 20px 9px 20px;

  font-family: "Nanum Pen Script";
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  box-shadow: 3px 3px 3px #8b8b8b;

  cursor: pointer;
}

.DiaryList .ControlMenu:active{
  box-shadow: none;
}
